*{
    margin: 0;
    padding: 0;
    font-family:'Quattrocento';
    background-color: black;
   }
   
   .navigation
   {
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       background-color: black;
       color: white; 
       padding: 1rem;
       align-items: center;
       position: sticky;
       top:0;
       z-index: 1000;
   }
   .links{
       width: 70%;
       display: flex;
       justify-content: space-evenly;
   }
   .name{
       width: 20%;
       font-size: 28px;
   }
   .right{
       width: 5%;
       display: flex;
       justify-content: space-between;
       margin-right: 2%;
   }
   .right a i{
    font-size: 24px;
   }
   .navigation .links a{
       text-decoration: none;
       color: white;
       font-weight: 700;
       text-transform: uppercase;
   }
   .location-map{
    color: white;
   }
   .background{
       height: 100vh;
       width: 100%;
       background: url(./images/pizza1\ 1.png);
       background-position: center;
       background-size: cover;
       color:white;
   
   
   }
   .description{
       z-index: 10000000;
   }
   .description p{
       float:left
   }
   .pizzarecipe{
       display: flex;
       flex-direction: row;
       height: 100vh
   
   }
   .pizzaimage .menu-header{
    color: yellow;
   }
   .pizzarecipetext{
       background-color: black;
       color: white;
   }
   .pizzarecipetext h1{
       color:white;
       text-transform: uppercase;
       text-decoration: underline red;
       text-align: center;
   }
   .pizzarecipeimg img{
       height: 100px;
       width: 100px;
   }
   .row
   {   background-color: yellow;
       display: grid;
       grid-template-columns: 1fr 1fr ;
   }
   .background::before {
       content: ""; 
       position: absolute;
       top: 0;
       padding-bottom: 3.5rem;
       left: 0;
       width: 100%;
       height: 100%;
       background:black;
       opacity: .4;
       z-index: 1;
   }
   .description{
    padding: 2rem;
    background-color: transparent;
   }
   .description h1{
       color: white;
       font-size: 5rem;
       width: 50%;
       background-color: transparent;
   }
   .description>p{
       width: 50%;
       background-color: transparent;
   }
   .pizzaimage{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
   
       width: 100%;
   }
   .pizzaimage p{
       width: 50%;
       text-align: center;
   }
   .imagegrid{
       display:grid;
       grid-template-columns: 1fr 1fr;
       width: 90vw;
       margin: 0 auto;
       row-gap: 1rem;
       column-gap: 0.5rem;
       padding: 3rem;
   
   
   
   }
   #close{
       display: none;
   }
   .imagegrid .pizzaimage p{
       text-align: left;
   }
   .about{
       background: black;
   }
   
   .about h1{
       color:white;
       text-align: center;
       text-transform: uppercase;
       text-decoration: underline red;
   }
   .main{
       background: black;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       align-items: center;
   }
   .maindescription{

    display: flex;
    flex-direction: column;
    width: 90vw;
   }
   .imagegrid img{
    width: 11vw;
    margin-right: 2rem;
    border-radius: 15px;
   }
   .main h1{
       color:white;
       text-transform: uppercase;
       text-align: center;
       text-decoration: underline red;
   }
   .main p{
       color:white;
       text-align: center;
   
   }
   .about{
       padding: 2rem;
   }
   .descriptionaboutus{
       padding: 2rem;
       display: grid;
       grid-template-columns: 1fr 1fr;
       column-gap: 2rem;
       margin: 0 auto;
   }
   .descriptionaboutus p{
       color:white;
       text-align: justify;
   }
   
   .c-l{
    background-color: black;
    justify-content: center;
    display: grid;
    text-align: center;
   }
   #carouselExampleIndicators{
    width: 90vw;
   }
   .c-l-header{
    color: white;
    font-size: 50px;
    text-decoration: underline red;
    padding: 20px;
   }
   .carousel-indicators{
    background-color:transparent !important;
   }
   .gallery-header{
    color: white;
    font-size: 50px;
    text-decoration: underline red;
    padding: 20px;
   }
   .gallery{
    box-sizing: border-box;
    background-color: black;
    text-align: center;
    margin-top: 50px;
    height: 750px;
   }

   .gallery .grid{
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 20% 20%;
    grid-template-rows: 20% 20% 12%;
    grid-gap: 34px;
    margin-left: 4%;

   }
   .grid img{
    
    object-fit: cover;
   }
   #grid-img-1{
    grid-row: span 3;
   }

   .findus{
       background: black;
       height: 100vh;
       margin-bottom: 100px;
   
   }
   
   .text{color: white;
   }
   .text h1{
       text-transform: uppercase;
       text-align: center;
       text-decoration: underline red;
   }
   .map p{
   color:white;
   text-align: justify;}


    #l-m-1, #l-m-2{
        display: flex;
        gap: 20px;
    }
   .map{
       display: grid;
       grid-template-columns: 1fr 1fr;
       column-gap: 5rem;
       width: 80%;
       margin: 0 auto;
   
   }
   iframe{
       height: 100%;
   width: 100%;}
   .copywrite{
       display: flex;
       width: 80%;
       justify-content: space-between;
       flex-direction: row;
       color:white;
       margin: 0 auto;
       padding: 30px;
   }
   .copywriteright{
    width: 23%;
   }

   .copywriteright .email{
    align-items: center;
    display: flex;
    gap: 10px;
    font-size: 23px;
   }
   .copywriteright .email i{
    font-size: 40px;
   }

   .copywriteright .tele i{
    font-size: 40px;
   }
   .tele{
    display: flex;
    align-items: center;
   }

   .tele .call-list{
    display: flex;
    flex-direction: column;
   }
   .tele .call-list span{
    font-size: 23px;
   }
   .bottom{
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
   }
   @media only screen and (max-width: 900px) {
       *{
           margin: 0;
           padding: 0;
       }
       .navigation{
           display: flex;
           flex-direction: column;
           width: 100vw;
           height: 100vh;
   
   
       }
       .descriptionaboutus{
           padding: 2rem;
           display: grid;
           grid-template-columns: 1fr ;
           column-gap: 2rem;
           margin: 0 auto;
       }
       .name{
           display: flex;
           width: 100%;
           height: 30%;
       }
       .links{
           display: flex;
           flex-direction: column;
           justify-content: space-around;
           height: 100%;
           margin:  0 auto;
           margin-right: 3%;
   
       }
       #close{
           display: block;
       }
       .right{
           display: none;

       }
       .links a{
           margin:  auto;
       }
       .description h1{
      font-size: 200%;
       }
       .description p{
           width: 100%;
       }
       .imagegrid {
           display: grid;
           grid-template-columns: 1fr;
       }
       .pizzaimage{
           display: flex;
           flex-direction: column;
       }
       .pizzaimage p{
           width: 80vw;
       }
       .copywrite{
           display: flex;
           width: 80%;
           justify-content: space-between;
           flex-direction: column;
           color:white;
           margin: 0 auto;
       }
       .findus{
           background: black;
           height: 100vh;
   
       }
       .bottom{
           height: 100%;
           display: flex;
           flex-direction: column;
           justify-content: space-around;
       }
       .map{
           display: grid;
           grid-template-columns: 1fr ;
           column-gap: 5rem;
           width: 80%;
           margin: 0 auto;
   
       }
   
       .pizzaimage p{
           width: 100%;
           text-align: center;
       }
       .pizzaimage img{
           width: 100%;
           height: 100%;
           text-align: center;
       }
       iframe{
       height: 150%;
       width: 100%;}
       .copywrite{
           margin: 0 auto;
           width: 50%;
           padding: 1rem;
           display: flex;
           align-items: center;
       }
       .maincontainermobile{
           position: absolute;
       }
     }
    